.container{
  text-align: center;
  padding :50px;
}
.title {
  font-size: 50px;
  padding : 30px 0;
}
.who {
  font-size: 30px;
}
.boxWrap {
  display: flex;
  flex-direction : row;
  width: 100%;
  height: 400px;
  justify-content: center;
  gap : 20px;
  align-items: center;
}
.box {
  border:2px solid black;
  width : 400px
}

.handBox{
  font-size: 80px;
}

.winBox{
  padding: 20px;
  font-size: 30px;
  font-weight : 700;
}

.selectBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  gap : 20px;
  padding : 30px 0;
}
.selectBox > div {
  cursor: pointer;
}
.win {
  color : #4141d2;
}

.lose {
  color : #ff1a1a;
}

.same {
  color : green;
}