.boxWrap{
    display:flex;
    justify-content: center;
    gap : 20px;
}
.box {
    border : 1px #000000 solid;
    width : 500px;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}

.box img {
    height : 200px;
}

.btnWrap {
    padding :20px;
    display: flex;
    justify-content: center;
}

.box > p {
    font-size : 30px;
    font-weight: 700;
}

.btnWrap > button {
    font-size :50px;
    margin : 0 20px;
    cursor : pointer;
    background-color : transparent;
    border: none;
}

.win {
    border : 10px solid green;
    color : green;
}

.lose {
    border : 10px solid red;
    color : red;
}
.tie {
    border : 10px blue solid;
    color : blue;
}